<!DOCTYPE>
<html>
    <head>

        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <div class="main-content">

            <h1>{{>header}}</h1>
            <p>This is a sample project to test weather api's using Node Js</p>
        <img src="https://i.pinimg.com/originals/1a/cf/be/1acfbed37e572c5d498cc14b8edce182.jpg">

        </div>
        
        <p>Created by {{>footer}}</p>
    </body>
</html>