<!DOCTYPE>
<html>
    <head>

        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <div class="main-content">
  <h1>{{>header}}</h1>
        <p>{{helpText}}</p>
        </div>
      
        <p>Created by {{>footer}}</p>
    </body>
</html>