<!DOCTYPE>
<html>
    <head>

        <link rel="stylesheet" href="/css/style.css">
        

    </head>
    <body>
        <div class="main-content">
{{>header}}
    <div class="container">
        <p>Use this site to know about Weather</p>
        <div class="row">
               <form>
                   <br/>
                    <input placeholder="Location"> 
                    
                    <button style="cursor:pointer;">Search</button>
            </form>
            <p class="message1"></p>
            <p class="message2"></p>
        </div>
           

        </div>
        </div>
    
        
        
        <p>Created by {{>footer}}</p>
        <script src="/js/app.js"></script>
    </body>
</html>